@inherits TransitionPageBase<BlogPost>
@page "/blog/post/{Url}"

@if (BlogPostDocument != null)
{
    <article class="post">
        <header class="post-header" style="background-image:url(@($"/img/blog/posts/{BlogPostDocument.Yaml.ImageUrl}"))">
            <article class="post-desc">
                <div class="post-desc-info">
                    <span class="header-tag post-category">
                        <i class="las la-tag"></i>
                        @BlogPostDocument.Yaml.Category
                    </span>
                    <span class="header-tag">
                        <i class="las la-calendar"></i>
                        <time datetime="@BlogPostDocument.Yaml.Date">
                            @BlogPostDocument.Yaml.Date.ToString("dd MMMM, yyyy")
                        </time>
                    </span>
                </div>
                <h1 class="post-title">
                    @BlogPostDocument.Yaml.Title
                </h1>
            </article>
        </header>
        <article class="post-body">
            @((MarkupString)BlogPostDocument.Html)
        </article>
        <article class="post-footer">
            <div class="list-sec post-footer-info">
                <span class="post-footer-info-tag">
                    <i class="las la-calendar"></i>
                    Last updated:
                    <time datetime="@BlogPostDocument.Yaml.DateUpdated">
                        @BlogPostDocument.Yaml.DateUpdated.ToString("dd MMMM, yyyy")
                    </time>
                </span>
            </div>
            <div class="list-sec post-footer-tags">
                <i class="las la-tags"></i>
                Tags:
                @foreach (var tag in BlogPostDocument.Yaml.Tags)
                {
                    <a href="/blog/tags/@tag" class="btn post-tag">@tag</a>
                }
            </div>
            <div class="list-sec post-footer-social">
                Share on:
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@NavigationManager.Uri" class="btn anchor-facebook">
                    <i class="lab la-facebook la-2x"></i>
                    <span class="social-name">Facebook</span>
                </a>
                <a target="_blank" href="https://twitter.com/intent/tweet?url=@NavigationManager.Uri" class="btn anchor-twitter">
                    <i class="lab la-twitter la-2x"></i>
                    <span class="social-name">Twitter</span>
                </a>
                <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=@NavigationManager.Uri" class="btn anchor-linkedin">
                    <i class="lab la-linkedin la-2x"></i>
                    <span class="social-name">LinkedIn</span>
                </a>
            </div>
        </article>
    </article>

    <PageTitle>
        @BlogPostDocument.Yaml.Title - Hamzi Alsheikh
    </PageTitle>

    <HeadContent>
        <meta name="description" content="@BlogPostDocument.Yaml.Description" />
        <meta property="og:title" content="@BlogPostDocument.Yaml.Title - Hamzi Alsheikh" />
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="@BlogPostDocument.Yaml.Date" />
        <meta property="article:modified_time" content="@BlogPostDocument.Yaml.DateUpdated" />
        <meta property="article:author" content="Hamzi Alsheikh" />
        <meta property="article:section" content="@BlogPostDocument.Yaml.Category" />
        <meta property="article:tag" content="@string.Join(',', BlogPostDocument.Yaml.Tags)" />
        <meta property="twitter:image" content="/img/blog/posts/@BlogPostDocument.Yaml.ImageUrl" />
        <meta property="og:image" content="/img/blog/posts/@BlogPostDocument.Yaml.ImageUrl" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="@BlogPostDocument.Yaml.ImageW">
        <meta property="og:image:height" content="@BlogPostDocument.Yaml.ImageH">
        <meta property="og:url" content="@NM.Uri" />
        <meta property="og:description" content="@BlogPostDocument.Yaml.Description" />
        <meta property="twitter:title" content="@BlogPostDocument.Yaml.Title - Hamzi Alsheikh" />
        <meta property="twitter:description" content="@BlogPostDocument.Yaml.Description" />
    </HeadContent>
}