@inherits TransitionPageBase<Blog>
@page "/blog"

<article id="blog-block">
    <header class="article-header">
        <h1>Blog</h1>
        <div class="header-links">
            <a class="header-link" href="/blog/search">Search</a>
            <a class="header-link" href="/blog/tags">Tags</a>
        </div>
    </header>
    <div class="blog-card-container">
        @if (DataIsEmpty == false)
        {
            foreach (var post in PostsMetadata)
            {
                <BlogCard Title="@post.Title"
                  Date="@post.Date"
                  Image="@post.ImageUrl"
                  LinkFragment="@post.Url"
                  Description="@post.Description"
                  MainTag="@post.Category" />
            }
        }
        else
        {
            <NoContent Message="It's empty in here!" />
        }
    </div>
</article>