@inherits TransitionPageBase<Contact>
@using BlogApp.Models
@using BlogApp.Shared.Contact
@using System.Text
@page "/contact"

<article id="contact-block">
    <header class="article-header">
        <h1>Contact Me</h1>
    </header>
    <article class="content-article">
        <EditForm id="contact-form" EditContext="EditContext" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInValidSubmit">
            <legend>
                Send me a message!
            </legend>
            <DataAnnotationsValidator />
            <div class="form-input-wrapper form-el">
                <InputTextCustom placeholder=" " class="form-input" type="text" @bind-Value="ContactModel.FullName" />
                <LabelCustom For="@(() => ContactModel.FullName)"></LabelCustom>
                <ValidationMessage For="@(() => ContactModel.FullName)" />
            </div>
            <div class="form-input-wrapper form-el">
                <InputTextCustom placeholder=" " class="form-input" type="email" @bind-Value="ContactModel.Email" />
                <LabelCustom For="@(() => ContactModel.Email)"></LabelCustom>
                <ValidationMessage For="@(() => ContactModel.Email)" />
            </div>
            <div class="form-input-wrapper form-el">
                <InputTextCustom placeholder=" " class="form-input" type="text" @bind-Value="ContactModel.Subject" />
                <LabelCustom For="@(() => ContactModel.Subject)"></LabelCustom>
                <ValidationMessage For="@(() => ContactModel.Subject)" />
            </div>
            <div class="form-input-wrapper form-el">
                <TextAreaCustom placeholder=" " class="form-input" rows="5" @bind-Value="ContactModel.Message"></TextAreaCustom>
                <LabelCustom For="@(() => ContactModel.Message)"></LabelCustom>
                <ValidationMessage For="@(() => ContactModel.Message)" />
            </div>
            <div class="form-input-wrapper">
                <div class="g-recaptcha" data-sitekey="@(Configuration.GetSection("reCAPTCHA:SiteKey").Value)"></div>
            </div>
            <input type="hidden" name="_gotcha">
            <button class="form-el @SubmitButtonState" type="submit">Send</button>
        </EditForm>
    </article>
    <div class="contact-block-img-wrapper">
        <svg width="512px" height="512px" viewBox="0 0 512 512" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path d="M0 0L512 0L512 512L0 512L0 0Z" id="path_1" />
                <clipPath id="mask_1">
                    <use xlink:href="#path_1" />
                </clipPath>
            </defs>
            <g id="ufo">
                <path d="M0 0L512 0L512 512L0 512L0 0Z" id="Background" fill="none" fill-rule="evenodd" stroke="none" />
                <g clip-path="url(#mask_1)">
                    <path d="M264.691 313.638C261.464 316.866 257.134 318.519 252.883 318.519C248.632 318.519 244.303 316.867 241.074 313.638L4.9005 77.465C-1.6335 70.931 -1.6335 60.381 4.9005 53.848C39.6185 19.13 85.6725 0.001 134.796 0C183.84 0.08 229.973 19.13 264.691 53.848L265.635 54.792C299.802 89.43 318.459 135.169 318.538 183.742C318.458 232.788 299.409 278.92 264.691 313.638L264.691 313.638Z" transform="translate(193.38147 0)" id="Shape" fill="#3500D3" fill-rule="evenodd" stroke="none" />
                    <path d="M118.087 259.789C121.315 263.017 125.644 264.669 129.895 264.67C134.147 264.67 138.477 263.017 141.704 259.789C176.422 225.071 195.472 178.939 195.552 129.894C195.472 81.321 176.815 35.582 142.649 0.944L141.705 0L0 141.703L118.087 259.789L118.087 259.789Z" transform="translate(316.36804 53.849)" id="Shape" fill="#3500D3" fill-rule="evenodd" stroke="none" />
                    <path d="M177.932 241.708C155.633 241.708 134.66 233.026 118.884 217.25L118.884 217.25L24.414 122.78C-8.138 90.2235 -8.138 37.2535 24.414 4.69649C30.676 -1.56551 41.766 -1.56551 48.029 4.69649L236.969 193.637C243.492 200.153 243.492 210.729 236.969 217.251C221.204 233.021 200.231 241.708 177.932 241.708L177.932 241.708Z" transform="translate(94.19 174.15451)" id="Shape" fill="#190061" fill-rule="evenodd" stroke="none" />
                    <path d="M164.364 93.515L70.849 0L0 70.849L46.279 117.128C62.055 132.904 83.028 141.586 105.327 141.586C127.626 141.586 148.599 132.899 164.365 117.128C170.888 110.607 170.888 100.033 164.364 93.515L164.364 93.515Z" transform="translate(166.79498 274.27502)" id="Shape" fill="#190061" fill-rule="evenodd" stroke="none" />
                    <path d="M366.909 436.567C353.526 436.567 340.946 431.359 331.487 421.894L331.487 421.894L331.487 421.894L14.678 105.086C5.208 95.627 0 83.048 0 69.664C0 56.28 5.208 43.701 14.678 34.237C36.76 12.161 66.115 0 97.329 0C128.555 0 157.91 12.161 179.991 34.243L402.331 256.577C447.908 302.154 447.908 376.32 402.331 421.896C392.872 431.359 380.293 436.567 366.909 436.567L366.909 436.567Z" transform="translate(47.86499 25.578003)" id="Shape" fill="#240090" fill-rule="evenodd" stroke="none" />
                    <path d="M228.296 110.213L118.081 0L0 118.081L157.453 275.534C166.913 284.998 179.491 290.205 192.875 290.207C206.259 290.207 218.839 284.999 228.297 275.534C273.874 229.956 273.874 155.791 228.296 110.213L228.296 110.213Z" transform="translate(221.90002 171.94)" id="Shape" fill="#240090" fill-rule="evenodd" stroke="none" />
                    <path d="M0 16.7C0 7.47684 7.47684 0 16.7 0C25.9232 0 33.4 7.47684 33.4 16.7C33.4 25.9232 25.9232 33.4 16.7 33.4C7.47684 33.4 0 25.9232 0 16.7Z" transform="translate(162.79102 124.893005)" id="Circle" fill="#FFFFFF" fill-rule="evenodd" stroke="none" />
                    <path d="M0 16.7C0 7.47684 7.47684 0 16.7 0C25.9232 0 33.4 7.47684 33.4 16.7C33.4 25.9232 25.9232 33.4 16.7 33.4C7.47684 33.4 0 25.9232 0 16.7Z" transform="translate(351.72302 313.82495)" id="Circle" fill="#FFFFFF" fill-rule="evenodd" stroke="none" />
                    <path d="M16.7107 77.7428C11.4587 77.7428 6.29566 75.2748 3.04466 70.6538C-2.26134 63.1148 -0.456344 52.6928 7.08966 47.3878L70.0957 3.03986C77.6407 -2.25516 88.0457 -0.461151 93.3617 7.08487C98.6677 14.6239 96.8627 25.0459 89.3167 30.3509L26.3107 74.6989C23.3877 76.7528 20.0387 77.7428 16.7107 77.7428L16.7107 77.7428Z" transform="translate(0.0793457 299.70718)" id="Shape" fill="#808080" fill-rule="evenodd" stroke="none" />
                    <path d="M16.6889 96.4071C13.362 96.4071 10.013 95.4231 7.08894 93.3631C-0.456055 88.0571 -2.26106 77.6361 3.04395 70.0971L47.3919 7.09113C52.6979 -0.453888 63.1129 -2.26389 70.6579 3.04611C78.2029 8.35211 80.0079 18.7731 74.7029 26.3121L30.3549 89.3181C27.1039 93.9391 21.9399 96.4071 16.6889 96.4071L16.6889 96.4071Z" transform="translate(133.68005 414.64185)" id="Shape" fill="#808080" fill-rule="evenodd" stroke="none" />
                    <path d="M0 16.7C0 7.47684 7.47684 0 16.7 0C25.9232 0 33.4 7.47684 33.4 16.7C33.4 25.9232 25.9232 33.4 16.7 33.4C7.47684 33.4 0 25.9232 0 16.7Z" transform="translate(258.21497 220.305)" id="Circle" fill="#FFFFFF" fill-rule="evenodd" stroke="none" />
                    <path d="M23.617 23.617C30.139 17.095 30.138 6.521 23.617 0L0 23.617C6.52103 30.139 17.095 30.139 23.617 23.617L23.617 23.617Z" transform="translate(263.10095 225.202)" id="Shape" fill="#FFFFFF" fill-rule="evenodd" stroke="none" />
                    <path d="M4.89112 139.706C-1.62887 133.186 -1.63187 122.612 4.89112 116.089L116.089 4.89111C122.612 -1.6319 133.186 -1.62888 139.706 4.89111C146.226 11.4111 146.229 21.9851 139.706 28.5081L28.5091 139.706C21.9861 146.229 11.4101 146.225 4.89112 139.706L4.89112 139.706Z" transform="translate(1.0338745 367.4029)" id="Shape" fill="#808080" fill-rule="evenodd" stroke="none" />
                    <path d="M23.618 134.815L134.816 23.617C141.339 17.094 141.336 6.52002 134.816 0L0 134.815C6.519 141.334 17.095 141.338 23.618 134.815L23.618 134.815Z" transform="translate(5.924988 372.294)" id="Shape" fill="#808080" fill-rule="evenodd" stroke="none" />
                </g>
            </g>
        </svg>
    </div>
</article>