@inherits TransitionPageBase<Dashboard>
@page "/dashboard"

<article id="dashboard-block">
    <header class="article-header">
        <h1>Dashboard</h1>
    </header>
    <div class="dashboard-article-body">
        @if (DashboardGitHubWrapper != null)
        {
            <DashboardBlock Name="GitHub Total Commits" Value="@DashboardGitHubWrapper.CommitSearchModel.total_count" />
            <DashboardBlock Name="GitHub Total Stars" Value="@DashboardGitHubWrapper.RepoModels.Sum(r => r.stargazers_count)" />
            <DashboardBlock Name="GitHub Main Languages" Value="@DashboardGitHubWrapper.RepoModels.DistinctBy(r => r.language).Count()" />
            <DashboardBlock Name="GitHub Repos" Value="@DashboardGitHubWrapper.StatsModel.public_repos" />
            <DashboardBlock Name="GitHub Forked Repos" Value="@DashboardGitHubWrapper.RepoModels.Count(r => r.fork == true)" />
            <DashboardBlock Name="GitHub Repos Pushed To" Value="@DashboardGitHubWrapper.RepoModels.Count(r => r.pushed_at != default)" />
            <DashboardBlock Name="GitHub Total Forks" Value="@DashboardGitHubWrapper.RepoModels.Sum(r => r.forks_count)" />
            <DashboardBlock Name="GitHub Total PRs" Value="DashboardGitHubWrapper.IssueSearchModel.items.Count(i => i.pull_request != null)" />
            <DashboardBlock Name="GitHub Total Issues" Value="@DashboardGitHubWrapper.IssueSearchModel.items.Count(i => i.pull_request == null)" />
            <DashboardBlock Name="GitHub Followers" Value="@DashboardGitHubWrapper.StatsModel.followers" />
            <DashboardBlock Name="GitHub Following" Value="@DashboardGitHubWrapper.StatsModel.following" />
            <DashboardBlock Name="GitHub Gists" Value="@DashboardGitHubWrapper.StatsModel.public_gists" />
        }
    </div>
</article>

<PageTitle>
    Hamzi Alsheikh - Dashboard
</PageTitle>

<HeadContent>
    <meta name="description" content="Some stats about my work on GitHub." />
    <meta property="og:title" content="Hamzi Alsheikh - Dashboard" />
    <meta property="og:type" content="profile" />
    @*    <meta property="profile:first_name" content="Hamzi" />
        <meta property="profile:last_name" content="Alsheikh" />*@
    <meta property="profile:username" content="hmz777" />
    <meta property="og:url" content="@NM.Uri" />
    @*    <meta property="twitter:image" content="/img/banner.png" />
        <meta property="og:image" content="/img/banner.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1000">
        <meta property="og:image:height" content="600">*@
    <meta property="og:description" content="Some stats about my work on GitHub." />
    <meta property="twitter:title" content="Hamzi Alsheikh - Dashboard" />
    <meta property="twitter:description" content="Some stats about my work on GitHub." />
</HeadContent>