@inherits TransitionPageBase<Search>
@using BlogApp.Shared.Contact
@using BlogApp.Models
@page "/blog/search/{SearchTerm}"
@page "/blog/search"

<article id="search-block">
    <header class="article-header">
        <h1>Search Posts</h1>
    </header>
    <article class="content-article">
        <div class="search-cards-container">
            <div class="form-input-wrapper form-el">
                <input placeholder=" "
                       class="form-input"
                       type="text"
                       @oninput="@ProcessSearch"
                       value="@_searchTerm" />
                <label>Search</label>
            </div>
            <div class="search-res-container">
                @if (_hasResults)
                {
                    <span class="status">@SearchResults.Count Result(s) found</span>
                    foreach (var item in SearchResults)
                    {
                        <a href="@($"blog/post/{item.Url}")" class="btn search-result-item">
                            <div class="content">
                                <span class="title">
                                    @item.Title
                                </span>
                                <p class="description">
                                    @item.Description
                                </p>
                            </div>
                            <div class="metadata">
                                <time datetime="@item.DateUpdated">@item.DateUpdated.ToString("dd MMM, yyyy")</time>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </article>
</article>

<PageTitle>
    Hamzi Alsheikh - Search Posts
</PageTitle>

<HeadContent>
    <meta name="description" content="Search blog posts." />
    <meta property="og:title" content="Hamzi Alsheikh - Search Posts" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@NM.Uri" />
    @*    <meta property="twitter:image" content="/img/banner.png" />
        <meta property="og:image" content="/img/banner.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1000">
        <meta property="og:image:height" content="600">*@
    <meta property="og:description" content="Search blog posts." />
    <meta property="twitter:title" content="Hamzi Alsheikh - Search Posts" />
    <meta property="twitter:description" content="Search blog posts." />
</HeadContent>