@using HMZ4th.Models
<article class="content-article">
    <article class="work-card">
        <header class="work-card-head">
            <h2>@WorkProjectModel.name</h2>
        </header>
        <p class="work-card-desc">
            @WorkProjectModel.description
        </p>
        @if (WorkProjectModel.topics.Length > 0)
        {
            <hr class="small-line" />
            <div class="work-card-tech">
                @foreach (var topic in WorkProjectModel.topics)
                {
                    <span class="work-card-tech-item">@(topic)</span>
                }
            </div>
        }
        <div class="work-card-stats">
            <div class="work-stat work-stars"><i class="las la-star"></i>@WorkProjectModel.stargazers_count</div>
            <div class="work-stat work-forks"><i class="las la-code-branch"></i>@WorkProjectModel.forks_count</div>
            <div class="work-stat work-link">
                <a href="@WorkProjectModel.html_url" target="_blank">
                    <i class="las la-external-link-alt"></i>Go
                </a>
            </div>
        </div>
    </article>
</article>

@code {
    [Parameter] public WorkProjectModel WorkProjectModel { get; set; }
}